body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #1F2937;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: center;
}

.links {
    color: white;
}

.info {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.left-info {
    display: flex;
    flex-direction: column;
}

.right-info {
    width: 50;
    height: 100;
}

button {
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 30px;
    gap: 10px;
}

ul {
    list-style-type: none;
    gap: 32px;
}